---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Team from '~/components/widgets/Team.astro';
import Project from '~/components/widgets/Project.astro';
import MainFeatures from '~/components/widgets/MainFeatures.astro';
import Milestones from '~/components/widgets/Milestones.astro';
import Link from '~/components/ui/Link.astro'

import { SITE } from '~/utils/config';
import { getBlogPermalink } from '~/utils/permalinks';
import { team, features, milestones } from '~/data';

const metadata = {
  title: `${SITE.name}`,
};
---

<Layout metadata={metadata}>
  <!-- Hero ******************* -->

  <Hero
    tagline="Diploma Project powered by AI"
    actions={[
      {
        variant: 'primary',
        text: 'Open prototype',
        href: 'https://textminr.shinyapps.io/TextminR_Prototyp/',
        target: '_blank',
        icon: 'tabler:external-link',
      },
      { text: 'View Project Updates', href: getBlogPermalink() },
    ]}
  >
    <Fragment slot="title">
      TextminR - Data Visualisation & Data Analysis
    </Fragment>

    <Fragment slot="subtitle">
      Charting the future of AI-powered Topic Analysis and Text Visualisation.
    </Fragment>
  </Hero>

  <!-- About this project ************** -->

  <Project
    id="about"
    title="About this project"
  >
    <Fragment slot="subtitle">
      Our goal is to create a tool that allows users to easily analyze large amounts of text data
      collected by our <Link href="https://textminr-backend.netlify.app/" target="_blank">Backend</Link> team, extract topics from it and visualize the results.
      By integrating the latest machine learning models, it will be possible to label the extracted topics and view their distribution over time.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Project>

  <!-- Team ************** -->

  <Team
    title="Our team"
    subtitle="We are a team of passionate data scientists with a shared vision to change the world."
    members={team}
  ></Team>

  <!-- Main features ************** -->

  <MainFeatures
    title="Main features"
    items={features}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </MainFeatures>

  <!-- Milestones ****************** -->

  <Milestones
    title="Milestones"
    milestones={milestones}
  />
</Layout>
