---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Team from '~/components/widgets/Team.astro';
import Project from '~/components/widgets/Project.astro';
import MainFeatures from '~/components/widgets/MainFeatures.astro';
import Milestones from '~/components/widgets/Milestones.astro';

import { SITE } from '~/utils/config';
import { getBlogPermalink } from '~/utils/permalinks';
import { team, features, milestones } from '~/data';

const metadata = {
  title: `${SITE.name}`,
};
---

<Layout metadata={metadata}>
  <!-- Hero ******************* -->

  <Hero
    tagline="AI diploma project"
    actions={[
      {
        variant: 'primary',
        text: 'Open shiny app',
        href: '#',
        icon: 'tabler:external-link',
      },
      { text: 'View Project Updates', href: getBlogPermalink() },
    ]}
  >
    <Fragment slot="title">
      TextminR - Data Visualisation & Data Analysis
    </Fragment>

    <Fragment slot="subtitle">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </Fragment>
  </Hero>

  <!-- About this project ************** -->

  <Project
    id="about"
    title="About this project"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Project>

  <!-- Team ************** -->

  <Team
    title="Our team"
    subtitle="We are a team of passionate data scientists with a shared vision to change the world."
    members={team}
  ></Team>

  <!-- Main features ************** -->

  <MainFeatures
    title="Main features"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
    items={features}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </MainFeatures>

  <!-- Milestones ****************** -->

  <Milestones
    title="Milestones"
    milestones={milestones}
  />
</Layout>
